@font-face {
  font-family: "Grotesk";
  src: url("fonts/Graphik-300.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "Grotesk";
  src: url("fonts/Graphik-400.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Grotesk";
  src: url("fonts/Graphik-500.woff") format("woff");
  font-weight: 500;
}

html {
  background-color: #EFF2F7;
  font-family: Grotesk, sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}

.top-nav {
  padding: 32px;
  background-color: #003097;
  padding: 50px;
}

section {
  padding: 100px;
}

h1 {
  font-family: Grotesk, sans-serif;
  font-weight: 300;
  font-size: 64px;
  color: #FFFFFF;
  margin-top: 0;
  margin-bottom: 0;
}

h2 {
  font-family: Grotesk, sans-serif;
  font-weight: 300;
  font-size: 24px;
  color: #FFFFFF;
}

.btn {
  font-size: 16px;
  border-radius: 4px;
  padding: 17px;
  min-width: 198px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
}

.btn:active {
  opacity: 0.9;
}

.btn-primary {
  color: #FFFFFF;
  background-color: #DC3367;
}

.btn-secondary {
  color: #003097;
  background-color: #FFFFFF;
  margin-left: 23px;
}

.container {
  max-width: 1286px;
  margin: auto;
  background-color: #003097;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.main {
  background-color: #003097;
  padding-top: 0;
}

.main-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.headline {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
}

.description {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 2;
  grid-row: 2;
}

.buttons-container {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 3;
  grid-row: 3;
}

.main-image-container {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1 / 4;
  margin-left: 100px;
}

.main-image {
  margin-top: 32px;
  width: 100%;
  height: auto;
}

.usedby-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.usedby-title {
  color: #FFFFFF;
  width: 100%;
}

.usedby-logo-container {
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.usedby-logo {
  margin-top: 20px;
}

.perks {
  background-color: #EFF2F7;
}

.perks-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.perks-header {
  font-family: Grotesk, sans-serif;
  font-weight: 300;
  font-size: 54px;
  color: #003097;
  margin-bottom: 50px;
}

.perks-picture {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
}

.perks-picture img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  max-height: 100%;
}

.perks-list {
  color: #003097;
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  grid-row: 1;
  margin-left: 100px;
}

.perks-list li {
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.3px;
  margin-bottom: 14px;
}

.perks-list span {
  color: #000000;
  margin-left: 10px;
}

.testimonials {
  background-color: #D39101;
}

.testimonials-wrapper {
  display: -ms-grid;
  display: grid;
  grid-gap: 230px;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(100px, auto);
}

.testimonial-picture img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  max-height: 100%;
}

.testimonial-description {
  color: #FFFFFF;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.3px;
  margin-top: 30px;
}

.testimonial-name {
  color: #FFFFFF;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.1px;
  font-weight: 500;
  margin-top: 30px;
}

.testimonial-title {
  color: #FFFFFF;
  font-size: 16px;
  line-height: 26px;
  margin-top: 5px;
}

.companies {
  background-color: #EFF2F7;
}

.companies-wrapper {
  display: -ms-grid;
  display: grid;
  grid-gap: 23px;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: minmax(70px, auto);
  margin-top: 20px;
  margin-bottom: 20px;
}

.companies-headline-card {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  background-color: #003097;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 38px;
}

.company-card {
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  text-align: center;
  position: relative;
}

.company-logo {
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.picture {
  background-color: #058C78;
}

.big-picture {
  width: 100%;
}

footer {
  background-color: #EFF2F7;
  padding-left: 87px;
  padding-right: 18px;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-copyright {
  margin-left: 25px;
}

.footer-links-wrapper {
  position: absolute;
  right: 18px;
}

.footer-links {
  display: contents;
  float: right;
  list-style: none;
}

.footer-links li {
  padding-left: 20px;
  display: inline;
}

.footer-links a {
  color: #003097;
  text-decoration: none;
}

@media screen and (max-width: 800px) {
  section {
    padding: 32px;
  }
  .top-nav {
    padding: 32px;
  }
  .main-wrapper {
    display: -ms-grid;
    display: grid;
    grid-gap: 10px;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .main-image-container {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    grid-row: 2;
    margin-left: 0;
    display: contents;
  }
  .main-image {
    margin-bottom: 0;
  }
  h1 {
    font-size: 44px;
    line-height: 52px;
    letter-spacing: 0.115789px;
  }
  h2 {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.1px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .description {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 3;
    grid-row: 3;
  }
  .buttons-container {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 4;
    grid-row: 4;
  }
  .btn {
    position: relative;
    width: -webkit-fill-available;
    margin-left: 0;
    margin-bottom: 15px;
  }
  .usedby-title {
    margin-top: 15px;
  }
  .usedby-logo-container {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .usedby-logo {
    max-width: 90px;
  }
  .perks-header {
    margin-top: 18px;
  }
  .perks-wrapper {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .perks-picture {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  .perks-list {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    grid-row: 2;
    margin-left: 0;
  }
  ol {
    -webkit-padding-start: 32px;
            padding-inline-start: 32px;
  }
  .testimonials-wrapper {
    grid-gap: 0px;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .testimonial {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 16px;
  }
  .companies-wrapper {
    grid-gap: 16px;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .companies-wrapper div:nth-of-type(1n+6) {
    display: none;
  }
  footer {
    padding: 32px;
    display: -ms-grid;
    display: grid;
    grid-gap: 0;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(30px, auto);
  }
  .footer-logo {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 3;
    grid-row: 3;
    margin-top: 25px;
  }
  .footer-copyright {
    margin-left: 0;
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .footer-links-wrapper {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
    position: inherit;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer-links-wrapper li {
    padding-left: 0;
  }
}
/*# sourceMappingURL=styles.css.map */